{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 20px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
@media(max-width:760px){
    .nav-links{
        display: none;
    }
    .action a{
        font-size: 09rem;
    }
}